<div id="container">
  <div id="header" class="box margin" style="background:url('/img/backgrounds/fire.gif');">
    <a href="/"><img src="img/banners/banner2.png"></a>
  </div>
  <!--<div id="navbar" class="box margin center">
    <nav>{{- partial "nav.html" . -}}</nav>
  </div>-->
  <div id="sidebar">
    <div class="box margin imglist">
      <h1 class="center">LINKS</h1>
      <!--<div class="hr"></div>
      <a href="/"><img src="img/icons/arrow.png"> Home</a>
      <a href="/music.php"><img src="img/icons/arrow.png"> Music</a>
      <a href="/fursona.php"><img src="img/icons/arrow.png"> Fursona</a>
      <a href="https://wiki.unluckywind.net/"><img src="img/icons/arrow.png"> Wiki</a>-->
      <div class="hr"></div>
      <a href="https://youtube.com/@kajstrife"><img src="img/icons/youtube.png"> YouTube</a>
      <a href="https://sodasteal.bandcamp.com"><img src="img/icons/bandcamp.png"> Bandcamp</a>
      <a href="https://soundcloud.com/kajstrife"><img src="img/icons/soundcloud.png"> SoundCloud</a>
      <a href="https://open.spotify.com/artist/0wywVUxVDUc9Z45Xzq6k2w?si=iAM48JsQTO-woYs7JvASHw"><img src="img/icons/spotify.png"> Spotify</a>
      <a href="https://instagram.com/kajsoda"><img src="img/icons/instagram.png"> Instagram</a>
      <a href="https://www.tumblr.com/kaaaaaaaaaj"><img src="img/icons/tumblr.png"> Tumblr</a>
      <a href="https://ko-fi.com/kajstrife"><img src="img/icons/kofi.png"> Ko-fi</a>
    </div>
  </div>
  <div id="main">