<div class="imglist">
  <a href="https://youtube.com/@kajstrife">
    <img src="/images/icons/youtube.png">
    YouTube
  </a>
  <a href="https://sodasteal.bandcamp.com">
    <img src="/images/icons/bandcamp.png">
    Bandcamp
  </a>
  <a href="https://soundcloud.com/kajstrife">
    <img src="/images/icons/soundcloud.png">
    SoundCloud
  </a>
</div>
<div class="imglist">
  <a href="https://open.spotify.com/artist/0wywVUxVDUc9Z45Xzq6k2w?si=iAM48JsQTO-woYs7JvASHw">
    <img src="/images/icons/spotify.png">
    Spotify
  </a>
  <a href="https://bsky.app/profile/kaj.gay">
    <img src="/images/icons/bluesky.png">
    Bluesky
  </a>
  <a href="https://ko-fi.com/kajstrife">
    <img src="/images/icons/kofi.png">
    Ko-fi
  </a>
</div>