---
layout: default
---

<div class="box margin">
  <a href="/fursona">
    <img class="damnfuck" src="/images/fursona/damnfuck.png" alt="Chibi drawing of Kaj's fursona, shaking back and forth"/>
  </a>
  <h1>WELCOME</h1>
  <div class="hr"></div>
  <p>Hi welcome to my website Hi welcome to my website Hi welcome to my website Hi welcome to my website Hi welcome to my website Hi welcome to my website Hi welcome to my website</p>
</div>
<div class="box margin nodesktop">
  <div class="imglist-split">
    {% include "partials/socials.njk" %}
  </div>
</div>
<div class="box">
  <h1>COOL STUFF</h1>
  <div class="hr"></div>
  <div class="article">
    <table>
    <tr>
      <td class="preview">
        <a href="https://sodasteal.bandcamp.com"><img class="preview" src="/images/music/slaney-vs-sodasteal.jpg"></a>
      </td>
      <td>
        <h3><a href="https://sodasteal.bandcamp.com">SLANEY VS SODASTEAL</a></h3>
        <p>A emo nightcore album by my band Operation Sodasteal.</p>
        <p><a href="https://sodasteal.bandcamp.com">Take a listen &raquo;</a></p>
      </td>
    </tr>
    </table>
  </div>
  <div class="hr"></div>
  <div class="article">
    <table>
    <tr>
      <td class="preview">
        <a href="https://archive.org/details/scott-pilgrim-vs.-the-world-trade-center"><img class="preview" src="/images/music/scott-pilgrim-vs-the-world-trade-center.jpg"></a>
      </td>
      <td>
        <h3><a href="https://archive.org/details/scott-pilgrim-vs.-the-world-trade-center">Scott Pilgrim vs. the World Trade Center</a></h3>
        <p>Defeat my seven evil towers</p>
        <p><a href="https://archive.org/details/scott-pilgrim-vs.-the-world-trade-center">I understand &raquo;</a></p>
      </td>
    </tr>
    </table>
  </div>
  <div class="hr"></div>
  <div class="article">
    <table>
    <tr>
      <td class="preview">
        <a href="/widget"><img class="preview" src="/images/companion.png"></a>
      </td>
      <td>
        <h3><a href="/widget">Kaj Desktop Companion</a></h3>
        <p>A chibi furry friend for your Windows desktop! Talk to it, pet it, or just sit back and let it annoy you.</p>
        <p><a href="/widget">Download now &raquo;</a></p>
      </td>
    </tr>
    </table>
  </div>
</div>